{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Пользователи" %}{% endblock %}
{% block name_page %}{% translate "Пользователи" %}{% endblock %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for publisher in object_list %}
      <tr>
        <td>{{ publisher.id }}</td>
        <td>{{ publisher.username }}</td>
        <td>{{ publisher.get_full_name }}</td>
        <td>{{ publisher.date_joined|date:'d.m.Y H:i' }}</td>
        <td>
          <a href="{% url 'update_user' publisher.id %}">Изменить</a>
          <br>
          <a href="/users/1/delete/">Удалить</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}