{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Пользователи" %}{% endblock %}
{% block name_page %}{% translate "Пользователи" %}{% endblock %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% translate "ID" %}</th>
      <th>{% translate "Имя пользователя" %}</th>
      <th>{% translate "Полное имя" %}</th>
      <th>{% translate "Дата создания" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in object_list %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
        <td>
          <a href="{% url 'update_user' user.id %}">{% translate "Изменить" %}</a>
          <br>
          <a href="{% url 'delete_user' user.id %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
