tests
.github
.env
docker-compose.dev.yaml
.gitignore
Dockerfile
pgdata
static
/task_manager/settings/environments/local.py
/htmlcov/
/.coverage
/coverage.xml
/db.sqlite3
/example.env
.pytest_cache
.venv
.git
.DS_Store
/.idea
