{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block name_page %}{{ title }}{% endblock %}
{% block content %}
{% url 'create_task' as create_task %}
{% bootstrap_button "Создать задачу" button_type="link" button_class="btn-primary" href=create_task %}
<table class="table table-striped">
  <thead>
    <tr>
        {% for head in object_table_head %}
        <th>{{ head }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for task in object_list %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor|default:"" }}</td>
        <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
        <td>
          <a href="{% url 'update_task' user.id %}">{% translate "Изменить" %}</a>
          <br>
          <a href="{% url 'delete_task' user.id %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}