<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">
{% include 'navbar.html' %}
<div class="container wrapper flex-grow-1">
  {% bootstrap_messages %}
  <h1 class="my-4">
    {% block name_page %}{% endblock %}
  </h1>
  {% block content %}{% endblock %}
</div>
{% include 'footer.html' %}
</body>
</html>