<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Менеджер задач</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
            </li>
            {% if user.is_authentificated %}
            <li class="nav-item">
                <a class="nav-link" href="/statuses/">Статусы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/labels/">Метки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks/">Задачи</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authentificated %}
            <form action="/logout/" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="6sEj0TSVOWiHwsRLFy8HkgTkSR3VUCOOZZmGHD0OGNxWNsUAkjhUJwJfL3yuLjwJ">
                <input class="btn nav-link" type="submit" value="Выход">
            </form>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/create/">Регистрация</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>